<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>邮件回复</title>
</head>
<body>
    <div style="border: 1px solid #dcdcdc;color: #676767;width: 600px; margin: 0 auto; padding-bottom: 50px;position: relative;">
        <div style="height: 60px; background: #393d49; line-height: 60px; color: #58a36f; font-size: 18px;padding-left: 10px;">欢迎来到Wont官方社区</div>
        <div style="padding: 25px 25px 4px 25px">
            <div style="margin-bottom: 20px;">您好，${sendInfo.username}</div>
            <div>
                验证码：8946
            </div>
            <div style="margin-bottom: 20px;">
                有效期：1天，将在${sendInfo.expire}后失效
            </div>
            <div style="padding: 5px; background: #f2f2f2;">请勿将验证码告诉他人！否则你的邮箱将会被他人绑定。</div>
        </div>
        <div style="background: #fafafa; color: #b4b4b4;text-align: center; line-height: 45px; height: 45px; position: absolute; left: 0; bottom: 0;width: 100%;">系统邮件，请勿回复</div>
    </div>
</body>
</html>
